<!DOCTYPE html>
<html lang="en">

{{>head}}

{{>navar}}

<div class="col-8">
    <head> Esta es nuestra imagen</head>
    <p>
        soluciones informáticas de carácter mundial
    </p>
</div>
<div class="col-4">
    <img src="assest/img/logo Key Process letra-13.jpg" class="img-thumbnail">
</div>

{{>foot}}

</html>